.todo {
  display: flex;
  align-items: center;
}

.todo input[type="checkbox"] {
  margin-right: 1rem;
}

.todo button {
  margin-left: auto;
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.todo button:hover {
  background-color: #c82333;
}

.todo button:active {
  background-color: #f77b88;
}

.completed {
  text-decoration: line-through;
}
